<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nerdy Logs: Sign up</title>
    <link rel="stylesheet" href="/css/auth-style.css">
</head>

<body>

<header class="auth-navbar">
    <a href="/">
        <img src="/images/logo.png" alt="Nerdy Logs Logo" class="auth-logo">
    </a>
</header>

<main class="auth-page">

    <section class="auth-card">
        <h1>Sign In</h1>
        <p class="subtitle">Sign up to create your first nerdy library!</p>

        <form>
            <label>Email</label>
            <input type="email">

            <label>Password</label>
            <input type="password">

            <button class="auth-btn" type="submit">Sign Up</button>
        </form>

        <a href="/sign-in" class="switch-account">
            Already have an account?
        </a>
    </section>
</main>
</body>