<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nerdy Logs</title>
    <link rel="stylesheet" href="/css/auth-style.css">
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>

<header class="auth-navbar">
    <a href="/" >
    <img src="/images/logo.png" alt="Nerdy Logs Logo" class="auth-logo">
    </a>
</header>

<main class="auth-page">
    <section class="auth-card">
        <h1>Sign In</h1>
        <p class="subtitle">Welcome back to your library!</p>

        <form th:action="@{/sign-in}"
              th:method="post"
              th:object="${userLoginRequest}">

            <p class="form-error"
               th:if="${errorMessage}"
               th:text="${errorMessage}">
            </p>

            <label>Username</label>
            <input type="text"
                   th:field="*{username}">

            <p class="field-error"
               th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}">
            </p>

            <label>Password</label>
            <input type="password"
                   th:field="*{password}">

            <p class="field-error"
               th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">
            </p>

            <button class="auth-btn" type="submit">Sign In</button>
        </form>

        <a href="/sign-up" class="switch-account">
            Don't have an account yet?
        </a>
    </section>
</main>
</body>