<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nerdy Logs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
<header class="navbar">

    <nav class="nav-actions">
        <a href="/sign-in" class="nav-btn ghost">Sign in</a>
        <a href="/sign-up" class="nav-btn solid">Sign up</a>
    </nav>
</header>

<main class="hero">
    <div class="shine"></div>

    <div class="logo">
        <img src="/images/logo.png" alt="Nerdy Logs Logo">
    </div>

    <h1>Nerdy Logs</h1>
</main>
</body>


</html>